@mixin animate{
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

@mixin inlineBlock($vertical-align){
    display: inline-block;
    vertical-align: $vertical-align;
}