header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: $zindex-header;
    width: 100%;
    height: 40px;
    background: $white;
    box-shadow: 0 0 3px 1px $black-6;
    nav{
        position: fixed;
        z-index: $zindex-header;
        right: -100%;
        width: 80%;
        height: 100%;
        background: $white;
    }
}